---
import Layout from '../../layouts/Layout.astro';
import Background from '../../assets/img/services/complex-problem-solving.jpg';
import ContactForm from '../../components/Contact-form.astro';
const pageTitle = 'Bespoke Web Software Solutions';
---

<Layout pageTitle={pageTitle}>
    <header class="relative h-[75vh] bg-fixed bg-center bg-cover" style={`background-image: url(${Background.src});`}>
    <div class="absolute inset-0 bg-gradient-to-b from-royalPlum to-transparent opacity-80"></div>
    
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white max-w-7xl mx-auto">
      <h1 class="text-7xl font-bold py-16">{pageTitle}</h1>
      <p class="text-3xl text-center">
            Your business is unique - your software should be too. Off-the-shelf solutions may promise quick fixes, but they rarely fit your specific needs. That’s why we craft tailor-made software that aligns precisely with your operations, goals, and challenges.      
        </p>
    </div>
  </header>
  <section class="max-w-5xl mx-auto px-4 py-16">
    <p class="pb-4">We don’t believe in one-size-fits-all. Every business has its own complexities, and our approach is to understand them deeply. Through close collaboration, we design and develop software that integrates seamlessly into your workflow, streamlining processes, increasing efficiency, and delivering real value.</p>

    <h2 class="font-bold">Why Choose Our Bespoke Software Solutions?</h2>
    <ul class="list-disc pl-12">
        <li>Precision-Fit Technology – No unnecessary features, no compromises—just the exact solution your business requires.</li>
        <li>Scalable & Future-Proof – Our solutions grow with your business, adapting as your needs evolve.</li>
        <li>Enhanced Efficiency – Automate tasks, optimize workflows, and reduce bottlenecks with a system built for your specific challenges.</li>
        <li>Seamless Integration – We ensure your new software works in harmony with your existing tools and processes.</li>
        <li>Ongoing Support & Evolution – We’re not just developers; we’re long-term partners invested in your success.</li>
    </ul>

    <p class="pb-4">Whether you need a custom CRM, an internal operations platform, a data management system, or something entirely unique, we create solutions that truly work for you—because they’re built for you.
Ready to move beyond off-the-shelf software? Let’s build something that fits your business perfectly.</p>

  </section>
  
    <section class="mx-auto max-w-7xl text-3xl justify-content-center flex flex-col px-4 pb-32">
        <h3 class="text-royalPlum text-7xl font-bold text-center pt-32">Ready to discuss your project?</h3>
        <ContactForm />
    </section>

</Layout>