<style>
   .gradient {
    background-image: linear-gradient(
        140deg,
        hsl(291deg 100% 25%) 1%,
        hsl(305deg 100% 27%) 25%,
        hsl(316deg 100% 32%) 35%,
        hsl(323deg 100% 36%) 43%,
        hsl(329deg 100% 39%) 50%,
        hsl(339deg 76% 48%) 57%,
        hsl(349deg 78% 56%) 63%,
        hsl(360deg 84% 62%) 69%,
        hsl(10deg 92% 62%) 75%,
        hsl(18deg 96% 61%) 81%,
        hsl(26deg 98% 60%) 87%,
        hsl(33deg 98% 59%) 94%,
        hsl(39deg 95% 58%) 100%
    );
    }
</style>

<section class="gradient animate-gradient">
    <div class="flex flex-row max-w-5xl mx-auto px-10 my-32 place-items-start items-center justify-center" >
        <h4 class="text-white font-bold text-5xl py-16">
            Plan the present <br />
            Build the <span class="text-sunsetGold">future.</span>
        </h4>
        <a
          href="/contact"
            class="font-bold bg-royalPlum text-white text-xl hover:text-black mx-auto md:mx-11 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300"
          >
          Talk to us today
        </a>
    </div>
</section>