<section class="grid grid-rows-4 gap-10 p-8 max-w-7xl m-auto ">
    <!-- Row 1: 2 columns -->
    <div class="grid sm:grid-cols-2 gap-10">
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/code.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Bespoke software solutions</h3>
            <p>Tailoring to your unique needs, our solutions ensure seamless integration and optimal performance. We craft bespoke software to match the exact demands of your customers.</p>
            <p class="py-8 mt-auto"><a href="/services/bespoke-software" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/design_generation.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Digital tranformation</h3>
            <p>Helping businesses leverage the power of technology to streamline processes, enhance customer experiences, and stay ahead in a rapidly evolving digital world.</p>
            <p class="py-8 mt-auto"><a href="/services/digital-transformation" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
    </div>
    <!-- Row 2: 3 columns -->
    <div class="grid sm:grid-cols-3 gap-10">
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/design_generation.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Design generation</h3>
            <p>Design generation often involves the use of software tools or artificial intelligence to help designers produce innovative concepts more efficiently</p>
            <p class="py-8 mt-auto"><a href="/services/design-generation" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
        <div class="flex flex-col bg-royalPlum text-white p-4 text-center align-middle justify-content rounded-lg font-quicksand uppercase font-semibold text-5xl">
            <img src="/logo.svg" alt="Logo" class="w-32 mx-auto pt-12">
            <span class="py-12">Lumen Ascend</span>
        </div>
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/mobile_app.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Mobile applications</h3>
            <p>Tailored to both your business & customers needs. From concept to launch, our team ensures a seamless user experience across iOS and Android using the latest cross-platform technologies.</p>
            <p class="py-8 mt-auto"><a href="/services/mobile-applications" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
    </div>
    <!-- Row 3: 2 columns -->
    <div class="grid sm:grid-cols-2 gap-10">
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/complex.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Complex problem solving</h3>
            <p>The process of creating smart, user-focused solutions to challenging issues by combining research, creativity, and iterative design.</p>
            <p class="py-8 mt-auto"><a href="/services/complex-problem-solving" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/seo.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">SEO</h3>
            <p>Make sure your website is seen using our search engine optimisation strategies to boost your online visibility. </p>
            <p class="py-8 mt-auto"><a href="/services/seo" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
    </div>
    <!-- Row 4: 2 columns -->
    <div class="grid sm:grid-cols-2 gap-10">
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/blueprints.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Blueprints</h3>
            <p>Design generation often involves the use of software tools or artificial intelligence to help designers produce innovative concepts more efficiently</p>
            <p class="py-8 mt-auto"><a href="/services/blueprints" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
        <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/design_generation.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Website Design</h3>
            <p>Where creativity meets functionality: we design visually stunning and user-friendly websites that truly reflects your brand.</p>
            <p class="py-8 mt-auto"><a href="/services/web-design" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div>
        <!-- <div class="bg-gray-200 p-8 rounded-lg flex flex-col">
            <img src="/icons/design_generation.svg" alt="" class="pb-14 w-16"/>
            <h3 class="font-bold text-lg pb-4 my-auto">Development</h3>
            <p>Where creativity meets functionality: we design visually stunning and user-friendly websites that truly reflects your brand.</p>
            <p class="py-8 mt-auto"><a href="/services/development" class="font-bold border-sunsetGold border-2 px-8 py-2 rounded-lumen hover:bg-sunsetGold transistion duration-300">Read More</a></p>
        </div> -->
    </div>
</section>