---
import background from '../assets/vid/bg.mp4';
---

<section class="relative h-screen">
    <video class="w-full h-full object-cover brightness-50" autoplay loop muted>
        <source src={background} type="video/mp4">
    </video>
    <div class="absolute top-[25%] justify-center flex flex-col max-w-7xl m-auto inset-4">
        <h1 class=" flex  text-7xl text-white mb-4">
            Solving company problems
        </h1>
        <h2 class=" flex  text-7xl text-white">
			With digital solutions<span class="text-orange-500">.</span>
        </h2>
    </div>

</section>

<hr>
<footer class="max-w-7xl flex flex-col md:flex-row items-center md:items-start justify-center m-auto p-8 md:p-0">
    <p class="p-8 grow">&copy; <span id="copyYear"></span> Lumen Ascend<span class="text-orange-500">.</span> </p>
</footer>

<script defer>
    let currentDate = new Date();
    let currentYear = currentDate.getFullYear();
    let yearContainer = document.getElementById("copyYear");
    yearContainer.innerHTML = currentYear + " —";
</script>
